<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add user</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1 class="display-3 text-center font-italic"><strong>ADD USER</strong></h1>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
    </div>
</div>
<div class="container" th:object="${user}">
    <div class="row">
        <div class="col-sm">
            <form action="#" th:action="@{/users}" method="post">
                <div th:if="${user ne null}" th:name="User_model"></div>
                <div class="form-group">
                    <label for="firstNameInput" class="font-weight-normal">First name</label>
                    <input type="text" class="form-control" minlength="2" maxlength="20" pattern="^[a-zA-Z]+$" name="firstName"
                           th:value="*{firstName}" id="firstNameInput">
                </div>
                <div class="form-group">
                    <label for="lastNameInput" class="font-weight-normal">Last name</label>
                    <input type="text" class="form-control" minlength="2" maxlength="40" pattern="^[a-zA-Z]+$" name="lastName"
                           th:value="*{lastName}" id="lastNameInput">
                </div>
                <div class="form-group">
                    <label for="patronymicInput" class="font-weight-normal">Patronymic</label>
                    <input type="text" class="form-control" minlength="2" maxlength="40" pattern="^[a-zA-Z]+$" name="patronymic"
                           th:value="*{patronymic}" id="patronymicInput">
                </div>
                <div class="form-group">
                    <label for="emailInput" class="font-weight-normal">Email</label>
                    <input type="email" class="form-control" maxlength="50" name="email" th:value="*{email}" id="emailInput"/>
                </div>
                <div class="form-group">
                    <label for="roleInput" class="font-weight-normal">Role</label>
                    <select name="role" class="form-control" id="roleInput">
                        <option th:each="role : ${roles}"
                                th:text="${
                                #strings.substring(role,0,1)
                                .concat(#strings.substring(role,1)
                                .toLowerCase()
                                .replace('_',' '))
                                }"
                                th:value="${role}"/>
                    </select>
                </div>
                <input type="submit" class="btn btn-success" value="Add user"/>
                <a th:href="@{/users}" class="btn btn-primary" role="button">Back to users</a>
            </form>
        </div>
        <div class="col-sm">
            <div class="alert alert-info text-center" th:if="${error ne null}" th:text="${error}"/>
            <div class="alert alert-warning text-center" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/>
            <div class="alert alert-warning text-center" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>
            <div class="alert alert-warning text-center" th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"/>
            <div class="alert alert-warning text-center" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
        </div>
    </div>
</div>
</body>
</html>