<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Items</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <style>
        .common-row input[type="file"] {
            display: none;
        }
        .common-row input[type="file"] + label {
            background: #eee;
            padding: 5px 10px;
            display: inline;
        }
    </style>
</head>
<body>
<h1 class="display-4 text-center font-italic"><strong>ITEMS</strong></h1>
<div class="col" th:if="${not #lists.isEmpty(items)}">
    <table class="table table-bordered text-center">
        <thead>
        <tr>
            <td scope="col">#</td>
            <td scope="col">Name</td>
            <td scope="col">Unique number</td>
            <td scope="col">Price</td>
            <td></td>
            <td></td>
            <td th:if="${#authorization.expression('hasRole(''SALE_USER'')')}"></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, status : ${items}">
            <td scope="row" th:text="${status.count}"></td>
            <td>
                <div th:unless="${#strings.equals(param.copy, item.uniqueNumber)}" th:text="${item.name}">
                    Name not defined
                </div>
                <div th:if="${#strings.equals(param.copy, item.uniqueNumber)}">
                    <form action="#" th:action="@{/items/{id}/copy(id=${item.id})}" method="post">
                        Enter name: <input type="text" class="form-group col-sm-3" name="name" autofocus/>
                        <input type="submit" class="btn btn-secondary btn-sm" value="Confirm"/>
                    </form>
                </div>
            </td>
            <td th:text="${item.uniqueNumber}">Review text not defined</td>
            <td th:text="${item.price}">Date not defined</td>
            <td>
                <a th:href="@{/items/{id}(id=${item.id})}" class="btn btn-info"
                   role="button">Item details</a>
            </td>
            <td>
                <form th:if="${#authorization.expression('hasRole(''CUSTOMER_USER'')')}" action="#"
                      th:action="@{/orders}" method="post">
                    <input type="hidden" name="itemUniqueNumber" th:value="${item.uniqueNumber}">
                    Amount: <input class="form-group col-sm-2" type="number" min="1" max="1000" th:value="1" name="amount"/>
                    <input type="submit" class="btn btn-success" value="Order items"/>
                </form>
                <form th:if="${#authorization.expression('hasRole(''SALE_USER'')')}" action="#"
                      th:action="@{/items/{id}/copy(id=${item.id})}" method="post">
                    <input type="submit" class="btn btn-success" value="Copy item"/>
                </form>
            </td>
            <td th:if="${#authorization.expression('hasRole(''SALE_USER'')')}">
                <form action="#" th:action="@{/items/{id}(id=${item.id})}" method="post">
                    <input type="submit" class="btn btn-danger" value="Delete item"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <nav th:if="${pages gt 1}">
        <ul class="pagination justify-content-center">
            <li th:each="page: ${#numbers.sequence(1, pages)}" class="page-item active">
                <a class="page-link" th:name="'page' + ${page}" th:href="@{/items(page=${page})}" th:text="${page}"
                   th:value="${page}"/>
            </li>
        </ul>
    </nav>
    <br>
    <div th:unless="${#authorization.expression('hasRole(''CUSTOMER_USER'')')}">
        <form method="post" th:action="@{/items/upload}" enctype="multipart/form-data">
            <div class="common-row">
                <input type="file" id="file" name="file">
                <label class="common-label btn btn-primary text-black-50" for="file">
                    Click here to choose upload file
                </label>
            </div>
            <br>
            <input type="submit" value="Upload" class="btn btn-success"/>
        </form>
    </div>
    <br>
    <div class="col-sm-3 alert alert-info text-left" th:if="${message ne null}" th:text="${message}"/>
    <a th:href="@{/}" class="btn btn-primary" role="button">Back to start page</a>
</div>
<div class="lead text-center" th:unless="${not #lists.isEmpty(items)}">
    <p>There are no items...</p>
    <p class="alert alert-danger" th:if="${message ne null}" th:text="${message}"></p>
    <div th:unless="${#authorization.expression('hasRole(''CUSTOMER_USER'')')}">
        <form method="post" th:action="@{/items/upload}" enctype="multipart/form-data">
            <div class="common-row">
                <input type="file" id="file" name="file">
                <label class="common-label btn btn-primary text-black-50" for="file">
                    Click here to choose upload file (only xml)
                </label>
            </div>
            <br>
            <input type="submit" value="Upload" class="btn btn-success"/><br>
        </form>
    </div>
    <br>
    <a th:href="@{/}" class="btn btn-primary" role="button">Back to start page</a>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>