<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<h1 class="display-4 font-italic text-center"><strong>PROFILE</strong></h1>
<div class="container">
    <div class="row">
        <div class="col-sm" th:object="${user}">
            <dl class="row">
                <dt class="col-sm-3">First name:</dt>
                <dd class="col-sm-9" th:text="${user.firstName}">Not defined</dd>
                <dt class="col-sm-3">Last name:</dt>
                <dd class="col-sm-9" th:text="${user.lastName}">Not defined</dd>
                <dt class="col-sm-3">Address:</dt>
                <dd class="col-sm-9" th:text="${user.address}">Not defined</dd>
                <dt class="col-sm-3">Telephone:</dt>
                <dd class="col-sm-9" th:text="${user.telephone}">Not defined</dd>
            </dl>
            <a th:href="@{/}" class="btn btn-primary" role="button">Back to start page</a>
        </div>
        <div class="col-sm" th:object="${updatedUser}">
            <form action="#" th:action="@{/profile}" method="post">

                <div th:unless="${#fields.hasErrors('firstName')}" class="form-group">
                    <label for="firstNameInput" class="font-weight-normal">Change first name:</label>
                    <input type="text" class="form-control" minlength="2" maxlength="20" pattern="^[a-zA-Z]+$" name="firstName"
                           th:value="*{firstName}" id="firstNameInput">
                </div>
                <div th:if="${#fields.hasErrors('firstName')}" class="form-group">
                    <label for="firstNameInput" class="font-weight-normal">Change first name:</label>
                    <input type="text" class="form-control" minlength="2" maxlength="20" pattern="^[a-zA-Z]+$" name="firstName"
                           id="firstNameInput">
                </div>

                <div th:unless="${#fields.hasErrors('lastName')}" class="form-group">
                    <label for="lastNameInput" class="font-weight-normal">Change last name:</label>
                    <input type="text" class="form-control" minlength="2" maxlength="40" pattern="^[a-zA-Z]+$" name="lastName"
                           th:value="*{lastName}" id="lastNameInput">
                </div>
                <div th:if="${#fields.hasErrors('lastName')}" class="form-group">
                    <label for="lastNameInput" class="font-weight-normal">Change last name:</label>
                    <input type="text" class="form-control" minlength="2" maxlength="40" pattern="^[a-zA-Z]+$" name="lastName"
                           id="lastNameInput">
                </div>

                <div th:unless="${#fields.hasErrors('address')}" class="form-group">
                    <label for="addressInput" class="font-weight-normal">Change address:</label>
                    <input type="text" class="form-control" minlength="2" maxlength="100" pattern="^[a-zA-Z0-9 ,.]*$" name="address"
                           th:value="*{address}" id="addressInput">
                </div>
                <div th:if="${#fields.hasErrors('address')}" class="form-group">
                    <label for="addressInput" class="font-weight-normal">Change address:</label>
                    <input type="text" class="form-control" minlength="2" maxlength="100" pattern="^[a-zA-Z0-9 ,.]*$" name="address"
                           id="addressInput">
                </div>

                <div th:unless="${#fields.hasErrors('telephone')}" class="form-group">
                    <label for="telephoneInput" class="font-weight-normal">Change telephone:</label>
                    <input type="tel" class="form-control" minlength="2" maxlength="100" pattern="^[a-zA-Z0-9 ,.]*$" name="telephone"
                           th:value="*{telephone}" id="telephoneInput">
                </div>
                <div th:if="${#fields.hasErrors('telephone')}" class="form-group">
                    <label for="telephoneInput" class="font-weight-normal">Change telephone:</label>
                    <input type="tel" class="form-control" minlength="2" maxlength="100" pattern="^[a-zA-Z0-9 ,.]*$" name="telephone"
                           id="telephoneInput">
                </div>
                <div class="form-group">
                    <label for="passwordInput" class="font-weight-bold lead">Reset password</label>
                    <input type="checkbox" name="updatePassword" id="passwordInput"/>
                </div>
                <input type="submit" class="btn btn-primary" value="Accept changes">
            </form>
        </div>
        <div class="col-sm" th:object="${updatedUser}">
            <div class="alert alert-info" th:if="${updatePassword ne null}" th:text="${updatePassword}"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"/>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>