<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<h1 class="display-4 text-center"><strong>USER</strong></h1>
<div class="container">
    <div class="row">
        <div class="col-sm" th:object="${user}">
            <dl class="row">
                <dt class="col-sm-3">First name:</dt>
                <dd class="col-sm-9" th:text="${user.firstName}">Not defined</dd>
                <dt class="col-sm-3">Last name:</dt>
                <dd class="col-sm-9" th:text="${user.lastName}">Not defined</dd>
                <dt class="col-sm-3">Address:</dt>
                <dd class="col-sm-9" th:text="${user.address}">Not defined</dd>
                <dt class="col-sm-3">Telephone:</dt>
                <dd class="col-sm-9" th:text="${user.telephone}">Not defined</dd>
            </dl>
            <form action="#" th:action="@{/users/{uniqueNumber}(uniqueNumber=${user.uniqueNumber}, destination='profile')}"
                  method="post">
                <input type="submit" class="btn btn-primary" value="Generate new password"/>
            </form>
            <a th:href="@{/}" class="btn btn-primary" role="button">Back to start page</a>
        </div>
        <div class="col-sm" th:object="${updatedUser}">
            <form action="#" th:action="@{/users/profile}" method="post">
                <div th:unless="${#fields.hasErrors('firstName')}">
                    Change first name: <input type="text" minlength="2" maxlength="20" pattern="^[a-zA-Z]+$" name="firstName"
                                              th:value="*{firstName}"><br>
                </div>
                <div th:if="${#fields.hasErrors('firstName')}">
                    Change first name: <input type="text" minlength="2" maxlength="20" pattern="^[a-zA-Z]+$" name="firstName"><br>
                </div>
                <div th:unless="${#fields.hasErrors('lastName')}">
                    Change last name: <input type="text" minlength="2" maxlength="40" pattern="^[a-zA-Z]+$" name="lastName"
                                             th:value="*{lastName}"><br>
                </div>
                <div th:if="${#fields.hasErrors('lastName')}">
                    Change last name: <input type="text" minlength="2" maxlength="40" pattern="^[a-zA-Z]+$" name="lastName"><br>
                </div>
                <div th:unless="${#fields.hasErrors('address')}">
                    Change address:
                    <input type="text" minlength="2" maxlength="100" pattern="^[a-zA-Z0-9 ,.]*$" name="address"
                           th:value="*{address}"><br>
                </div>
                <div th:if="${#fields.hasErrors('address')}">
                    <input type="text" minlength="2" maxlength="100" pattern="^[a-zA-Z0-9 ,.]*$" name="address"><br>
                </div>
                <div th:unless="${#fields.hasErrors('telephone')}">
                    Change telephone: <input type="text" minlength="2" maxlength="40" name="telephone"
                                             th:value="*{telephone}">
                </div>
                <div th:if="${#fields.hasErrors('telephone')}">
                    Change telephone: <input type="text" minlength="2" maxlength="40" name="telephone">
                </div>
                <input type="hidden" name="patronymic" th:value="*{patronymic}">
                <input type="hidden" name="role" th:value="*{role}">
                <input type="hidden" name="email" th:value="*{email}">
                <input type="submit" class="btn btn-primary" value="Accept changes">
            </form>
            <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/>
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>
            <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}"/>
            <div th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"/>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>