<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reviews</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>
<body>
<h1 class="display-4 text-center font-italic"><strong>REVIEWS</strong></h1>
<div class="col" th:if="${not #lists.isEmpty(reviews)}">
    <form action="#" th:action="@{/reviews}" method="post">
        <table class="table table-bordered text-center">
            <thead>
            <tr>
                <td></td>
                <td scope="col">#</td>
                <td scope="col">Full name</td>
                <td scope="col">Review</td>
                <td scope="col">Date</td>
                <td scope="col">Status</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review, status : ${reviews}">
                <td>
                    <input type="checkbox" name="ids" th:value="${review.id}"/>
                </td>
                <td scope="row" th:text="${status.count}"></td>
                <td th:text="${review.authorName}">Name not defined</td>
                <td th:text="${review.reviewText}">Review text not defined</td>
                <td th:text="${review.date}">Date not defined</td>
                <td th:text="${review.active} ? 'SHOWED' : 'NOT SHOWED'">Status not defined</td>
                <td>
                    <input type="submit" th:formaction="@{/reviews/{id}(id=${review.id})}" class="btn btn-danger" formmethod="post"
                           value="Delete review"/>
                </td>
            </tr>
            </tbody>
        </table>
        <nav th:if="${pages gt 1}">
            <ul class="pagination justify-content-center">
                <li th:each="page: ${#numbers.sequence(1, pages)}" class="page-item active">
                    <a class="page-link" th:name="'page' + ${page}" th:href="@{/reviews(page=${page})}" th:text="${page}"
                       th:value="${page}"/>
                </li>
            </ul>
        </nav>
        <br>
        <a th:href="@{/}" class="btn btn-primary" role="button">Back to start page</a>
        <input type="submit" class="btn btn-primary" value="Update checked reviews status"/>
    </form>
</div>
<div class="lead text-center" th:unless="${not #lists.isEmpty(reviews)}">
    <p>There are no reviews...</p>
    <a th:href="@{/}" class="btn btn-primary" role="button">Back to start page</a>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>